<div class="container">
  <header class="page-header">
    <h1>Admin Dashboard</h1>
  </header>

  <div class="row">
    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Number of products</h5>
          <p class="card-text"><%= @product_count %></p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Number of categories</h5>
          <p class="card-text"><%= @category_count %></p>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center mt-4">
    <%= link_to 'Product Administration', admin_products_path, class: 'btn btn-lg btn-primary' %>
  </div>
</div>